.headings{
    
        font-weight: 600;
        background-image: linear-gradient(to bottom left, #f8c809, #c3bd2e);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
}
